<footer id = "footer"> 
	<a href="index.html">About </a> * <a href="gettinghere.html"> Getting Here </a> * <a href="camping.html">Camping / Accommodation</a> * <a href="contact.html"> Contact Us </a>
</footer>