<div id="leftpage">
  <h2>Sponsors</h2>
  <a href="https://mountaineering.ie/"><img src="images/mi.jpg" alt="Mountaineering Ireland" class="sponsors-img"></a>
  <a href="https://rab.equipment/eu/"><img src="images/rab.jpg" alt="Rab Mountain Clothing Ireland" class="sponsors-img"></a>
  <a href="https://greatoutdoors.ie/"><img src="images/god.png" alt="The Great Outdoors Ireland" class="sponsors-img"></a>
  <a href="https://awesomewalls.ie/cork/"><img src="images/awc.png" alt="Awesome Walls Cork" class="sponsors-img"></a>
  <a href="https://trishfoxdesign.com/dal-riada-climbing-club"><img src="images/dalriada.jpg" alt="Dal Riada Climbing Club" class="sponsors-img"></a>
  <a href="https://cork15.wixsite.com/corkclimbingclub"><img src="images/ccc.jpg" alt="Cork Climbing Club" class="sponsors-img"></a>
  </div>