<nav id="navigation">  
  <ul id="menu">
    <li id="home"><a href="index.html"> Home</a></li>
    <li id="schedule"><a href="schedule.html"> Schedule </a></li>
    <li id="workshops"><a href="workshops.html"> Workshops</a></li>
    <li id="camping"> <a href="camping.html">Camping / Accommodation</a></li>
    <li id="gettinghere"> <a href="gettinghere.html">Getting Here </a></li>
    <li id="whattobring"><a href="whattobring.html"> What to Bring</a></li>
  </ul>
</nav>

<script>
document.querySelector("#<%= id %>").classList.add("active")
</script>