<aside id="rightpage">
	
  <h2>More Info</h2>

  	<h3>Coffee Coffee Coffee</h3>
  		<p><img src="images/coffee.jpg" alt="Mobile Coffee Van" class="small-left-img">It is well known that coffee and climbing are two sides of the same coin, coffee makes climbing better and climbing enhances your coffee experience.  We have organised for our very own coffee slave, Dave, to come and brew our coffees from morning until late afternoon daily from his mobile coffee van.  Make sure to bring your own cup and some coinage as it is cash only. <em>"Quirky, quick and quality!  Best coffee I've had in years" Coffee Connioisseur</em></p>

  	<h3>Meal Deal</h3>
  		<p><img src="images/fish.jpg" alt="Fish and Chips" class="small-right-img">There is plenty options to choose from for dining but the Doolin Hotel have kindly offered to do Fish and Chips for climbers attending the festival for a discounted rate of €10 with a pint included.  This offer is available from Friday to Sunday night.  Just use the enquiries email address on the <a href="contact.html">Contact Us</a> page to reserve a token for you.  </p>

   	<h3>Shuttle Bus</h3>
  		<p>There will be a shuttle bus running from the crag to Doolin Friday, Saturday and Sunday from 6pm to ferry climbers to the village for an evening meal and for the talks.  This is to ensure people can have a drink and not worry about driving or parking their car again as parking can be tight and queueing to park causes traffic jams.  We really want to keep congestion by the crag to a minimum.  The cost for the shuttle bus is €5 return and you can just pay the driver.  </p>
</aside>
