<%- include('./partials/_nav.ejs', {id : "contact"}); %>

<main id="maincontent">
    
  <div id="pagetitle">
    <h2>
      Contact Us
    </h2>
  </div>

  <article id="primary">
    
    <table>
      <tr><td><h3>Workshop Bookings</h3>
          <p>For bookings on one of the workshops please email the following address.<br>
          <strong>Workshop Bookings : </strong><a href="mailto:mags@awesomewalls.ie">mags@awesomewalls.ie</a></p></td>
          <td rowspan="2"><img src="images/mainimage.jpg" alt="Unknown Climber - Mirror Wall" class="small-center-img"></td>
      </tr>
      <tr><td><h3>Enquiries</h3>
          <p>All other enquiries including reserving meal deal tokens<br><strong> Email :</strong><a href="mailto:mags@awesomewalls.ie">chloe@mountaineering.ie</a> <br>
          <strong>Phone</strong> : 0214867061</p></td>
      </tr>
    </table>

  </article>

</main>

<%- include('./partials/_leftpage.ejs'); %>
<%- include('./partials/_rightpage.ejs'); %>