<%- include('./partials/_nav.ejs', {id : "gettinghere"}); %>

  <main id="maincontent">
  
  <div id="pagetitle">
    <h2>
      Getting Here / Directions
    </h2>
  </div>

  <div class="directions">

    <article id="primary">

      <!-- Cork -->
      <h2><a href="https://www.google.com/maps/dir/Cork/Ballyryan,+Co.+Clare/@52.4749485,-10.0357004,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4844900891beb961:0xa00c7a99731c5d0!2m2!1d-8.4756035!2d51.8985143!1m5!1m1!1s0x485ba9aec3786c4b:0x4b05637b27bc08fa!2m2!1d-9.3580762!2d53.0588717!3e0"> Directions from Cork </a> </h2>
      <p>Take the N20 to Limerick.  After 55km there will be an exit onto the M20 motorway.  At junction 1, exit onto N18 toward Galway/Limerick.  Exit the motorway after 22km and follow the signs towards Ennistymon.  After Ennistymon turn left for Fanore after 10km.  This will bring you right into the heart of the Burren where you will see large cliffs to your right.  There are numerous parking spots on the right and left of the road.  Ballyryan is visible on the right side of the road which in good weather will be heavily populated with climbers. <em>Estimated travel time : 2 hours 25 minutes</em> </p>

      <!-- Dublin -->
      <img src="images/panorama.jpg" alt="Burren Panorama" class="panorama-img"/><figcaption>Ailidee</figcaption>
      <h2><a href="https://www.google.com/maps/dir/Dublin/Ballyryan,+Co.+Clare/@53.0406086,-8.9323664,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x48670e80ea27ac2f:0xa00c7a9973171a0!2m2!1d-6.2603097!2d53.3498053!1m5!1m1!1s0x485ba9aec3786c4b:0x4b05637b27bc08fa!2m2!1d-9.3580762!2d53.0588717!3e0"> Directions from Dublin </a></h2>
      <p>Follow the M6 towards Galway until you reach Junction 18.  At Junction 18 exit onto the M18 towards Limerick.  Follow the coastal route towards Kinvara, Ballyvaughan and Fanore.  As you drive past Fanore the sea will be on your right.  After two miles of stunning scenery you will see the unmistakeable Ballyryan climbing cliff on your left where you can park. <em>Estimated travel time : 2 hours 50 minutes</em></p>

      <!-- Galway -->
      <h2><a href="https://www.google.com/maps/dir/Galway/Ballyryan,+Co.+Clare/@53.1351035,-9.3620288,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x485b93955a2d5bff:0x32b1b440a495281!2m2!1d-9.0567905!2d53.270668!1m5!1m1!1s0x485ba9aec3786c4b:0x4b05637b27bc08fa!2m2!1d-9.3580762!2d53.0588717!3e0">Directions from Galway</a></h2>
      <p>Follow the N67 coastal road from Galway to Kinvara.  After Kinvara follow signs for Ballyvaughan and Fanore.  After two miles of stunning scenery you will see the unmistakeable Ballyryan climbing cliff on your left where you can park.<em>Estimated travel time : 1 hour 10 minutes.</em></p>

    </article>
    
  </div>

</main>

<%- include('./partials/_leftpage.ejs'); %>
<%- include('./partials/_rightpage.ejs'); %>