<%- include('./partials/_nav.ejs', {id : "home"}); %>

  <main id="maincontent">

  <article id="primary">

    <table style="margin-left: 80px">
      <tr><td colspan="2">
          <p>The 2021 Burren Climbing Meet takes place over the weekend of the 10th to the 12th of September, and is open to all climbers.  
          It's a great weekend for the climbing community to come together to share stories of summer adventures, plan trips for the Autumn and maybe even get a few routes in on the amazing limestone cliffs at Ailladie, boulder at Doolin or climb at any of the great local crags.
          This year because we are expecting a large crowd due to the limitations climbers and alike have had to endure with travel restrictions etc.  we have roped prominent members of Dal Riada Climbing Club to run some workshops and to share their experiences with you.</p></td>
      </tr>
      <tr><td rowspan="2"><img src="images/claresheridan.jpg" alt="Clare Sheridan" class="medium-center-img"/><figcation>Clare Sheridan</figcation></td>
        <td><p>On Friday evening the legendary Clare Sheridan will share the story of a life of climbing and her ammasment of a huge amount of experience in all the years she has been climbing to date.  She will speak about her new book <em>'Uncoiling the Ropes'</em> which has been extrememly popular among the climbing community and is a story that was long overdue to be told.</p></td>
      </tr>
      <tr><td><p>On  Saturday evning Cork and Belgium native, big-wall-climbing, super-hero Sean Villanueva O'Driscoll will do a slideshow and share his incredible story of soloing the Patagonia traverse, the Fitz Roy Massif or as he likes to call it, the Moonwalk.</p></td></tr>
      <tr><td colspan="2"><p>Both talks take place at the Hotel Doolin and will start at 8:00 pm. All are welcome and there is no charge for the talks.  This is a free event but we will ask for donations to go towards some expenses we will be incurring including fireweood for the fire and the cost of travel for the speakers.  
      The Burren Climbing Meet is a really social event, where having the craic is just as important as climbing the cracks! </p></td>
      </tr>
    </table>
   
  </article>

</main>

<%- include('./partials/_leftpage.ejs'); %>
<%- include('./partials/_rightpage.ejs'); %>
