<%- include('./partials/_nav.ejs', {id : "schedule"}); %>
 
  <main id="maincontent">

    <div id="pagetitle">
      <h2>
        Schedule for Evening Talks
      </h2>
    </div>

    <article id="primary">

      <table align ="center">
        <tr><td><img src="images/ellen.jpg" alt="Ellen Griffin" class="large-left-img"/><figcaption>Ellen Griffin, Skywalker E1</figcaption></td>
            <td>There will be a number of talks held in Doolin Hotel Friday and Saturday evening.  There is no need to book for these events and they are free of charge.  However we will put a donation box on the door in order to contribute to the cost of booking the room and the travel expenses for the spearkers.  We'd also like to buy them all a drink for their time.  We will run a shuttle bus to and from the crag before and after the talks.  The cost for this is €5 return which you can pay the driver.  There will be no talks on Sunday night.  The following is the schedule :</td>
        </tr>
      </table>
              
      <table align="center" style="font-style:italic">
        <tr><th>Day / Time</th><th>Speaker / Subject</th><td rowspan="5"><img src="images/magsjugcity.jpeg" alt="Jug City" class="medium-right-img"/><figcaption>Jug City VS</figcaption></td></tr>
        <tr><td><strong>Friday 8pm</strong></td> <td>Michael Duffy - A slideshow tour of Wicklow First Ascents</td></tr>
        <tr><td><strong>Friday 9:30pm</strong></td><td> Clare Sheridan - A Life of Climbing</td></tr>
        <tr><td><strong>Saturday 8pm</strong></td> <td>John McCune - Come to Chamonix</td></tr>
        <tr><td><strong>Saturday 9:30pm</strong></td><td> Sean Villanueva O'Driscoll - The Moonwalk</td></tr>
      </table> 

     </article>

</main>

<%- include('./partials/_leftpage.ejs'); %>
<%- include('./partials/_rightpage.ejs'); %>