<%- include('./partials/_nav.ejs', {id : "whattobring"}); %>

<main id="maincontent">

  <div id="pagetitle">
    <h2>
      What to Bring
    </h2>
  </div>

  <article id="primary">
     
    <table align="center">
      <tr><td> <figure><img src="images/pisfluich.jpg" alt="Pis Fluich" class="medium-center-img"/><figcaption>PisFluich HVS</figcaption></figure></td>
      <td>If you are new to the Burren and are unaware of what you will need for the festival we have put together a list of items you may need and which may be useful to you.  The Burren can vary from other crags because of the type of rock which determines a few factors in what you need to bring.  </td>
      </tr>
    </table>

    <ul>
      <li> <strong>Your climbing rack, rockshoes, harness, chalkbag and lead rope. </strong><br>We assume everyone attending the festival will have their own gear.  Some of our sponsors will be setting up stalls to demo some climbing gear so there may be some items for sale but we cannot guarantee what will be in supply.</li>
      <div class="sidenote">Please be aware that cams aren't as useful in the limestone of the Burren because it is a permeable rock and so they can slip out.  More experienced climbers do use them carefully but a set of nuts is more useful than cams in the Burren.</div>  
      <li><strong>A rope protector </strong>as the rock is extremely abrasive and not good for the ropes.  We will set up some abseils which will be in situ for the weekend.</li>
      <li> <strong>Camping gear,</strong> tent, sleeping bag, warm clothes, cooking equipment, utensils, rubbish bags, toilet roll, torch, sunscreen, food and water.</li>
      <li><strong>Money </strong>for food, coffee, shuttlebus and donations for the speakers.  Also there will be some sales reps selling a small selection of climbing gear and attire.</li>
      <li>Try to partner up with a <strong>climbing buddy</strong> prior to arrival.  It's always easier if you have made these arrangements before any climbing trip.</li>
      <li><strong>The Burren Guidebook</strong>.  You can view the routes on <a href="http://www.climbing.ie">Climbing.ie</a> but there may not always be mobile reception so either print out the Burren section or bring/buy the guidebook.</li>
      <li><strong>Warm Clothes</strong>.  It is a sea cliff location and it can get very breezy even in summer months.</li>
    </ul>

  </article>
  
</main>

<%- include('./partials/_leftpage.ejs'); %>
<%- include('./partials/_rightpage.ejs'); %>