<%- include('./partials/_nav.ejs', {id : "workshops"}); %>

  <main id="maincontent">

    <div id="pagetitle">
      <h2>
        Workshops
      </h2>
    </div>

    <article id="primary">

      <p>There will be a number of workshops happening over the course of the weekend.  There will be a limit of ten places per workshop.  You can book by submitting your interest by email.  <a href="contact.html"><strong>Contact Us</strong></a>.  Places will be on a first come first served basis but we will keep waiting lists and contact you if a space opens up.</p>
      
      <div class="workshops">
        <table align="center">   
          <tr><th>Friday 6pm </th><td> Gear placement in Ballyryan with John Healy</td>
            <td rowspan="10"><img src="images/dave.jpg" alt="Dave Ayton" class="large-center-img"/><figcaption>Dave Ayton, Wall of Fossils E5</figcaption></td></tr>
          <tr><th>Friday 6pm </th><td> Multi-pitching skills with Paul Swail</td></tr>
          <tr><th>Saturday 12pm </th><td> Upping your grade with Ricky Bell</td></tr>
          <tr><th>Saturday 12pm </th><td> Bouldering in Doolin with Dave Ayton</td></tr>
          <tr><th>Saturday 3pm</th><td> Red Pointing with Chloe Condron</td></tr>
          <tr><th>Saturday 3pm</th><td> Facing your fear of falling with Filip Vilain</td></tr>
          <tr><th>Sunday 12pm </th><td> New routing with Ellen Griffin</td></tr>
          <tr><th>Sunday 12pm</th><td> Boulder Bashing with Michael Duffy</td></tr>
          <tr><th>Sunday 3pm </th><td> Tour of the classic routes with Damien O'Sullivan</td></tr>
          <tr><th>Sunday 3pm </th><td> Crack climbing with Sean Villanueva</td></tr>
        </table>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/llufipzI8_k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
      </div>
      
    </article>

</main>

<%- include('./partials/_leftpage.ejs'); %>
<%- include('./partials/_rightpage.ejs'); %>